input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}
// Custom for input type date
input[type="date"]::-webkit-calendar-picker-indicator {
  @apply cursor-pointer dark:invert-[1];
}
